body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

form {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 20em;
  gap: 10px;
  padding-bottom: 3em;
}

.calc-result, .calc-error {
  font-size: 3em;
}

.calc-error {
  color: rgb(197, 74, 74);
}

.operandOne, .operandTwo {
  font-size: 1.5em;
  border: 2px solid;
  border-radius: 10px;
  height: 15px;
  padding: 1rem;
  text-align: right;
  background-color: lightgray;
  width: 10%;
}

.selectContainer {
  position: relative;
  min-width: 200px;
  max-width: 300px;
}

.selectContainer::after {
  content: "\f078";
  font: normal normal normal 17px/1 FontAwesome;
  color: #000;
  right: 11px;
  top: 0;
  height: 30px;
  padding: 15px 0px 0px 8px;
  position: absolute;
  pointer-events: none;
}

select::-ms-expand {
  display: none;
}

.selectContainer select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;
  margin: 0px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #000;
  -ms-word-break: normal;
  word-break: normal;
  border-radius: 2em;
}

.calc-button {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.calc-button:hover,
.calc-button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.calc-button:hover {
  transform: translateY(-1px);
}

.calc-button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
